<div class="layout-2cols">
        <div class="content grid_8">
            <div class="project-detail">
<p id="notice"><%= notice %></p>
<h2 class="rs project-title"><%= @project.title %> </h2>
<h3 class="rs project-title"> Budget:<%= @project.budget %> </h3>
<p>
  <strong>Published:</strong>
  <%= @project.published %>
</p>
<p>
  <strong>Closed:</strong>
  <%= @project.closed %>
</p>

<p>
  <strong>Target date:</strong>
  <%= @project.target_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @project.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
       </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h4>Project Post </h4>
    <%= link_to "View All Post", project_posts_path(@project) %>
    <% if @project.posts.count > 0 %>
   
  <% @project.posts.each do | p |  %>
  <div class="well">
    <li> <%= p.content %>
     <span class="pull-right">
    <%= link_to "Comment", new_post_comment_path(p), class: "btn btn-primary btn-sm", data: { toggle: "modal", target: "#myModal" } %> </span>
    <% end %>
  <% end %>
  </div>
    <%= render '/posts/form' %> 
</div>
  <div class="col-xs-12 col-sm-6">
    <h4>Project Pledge </h4>
      
    
      <% @project.pledges.each do | pl |  %>
      <div class="well"> 
      <li> <b><%= pl.amount %> </b>  <%=pl.desc %>
        <% end %>
  
     <%= render '/pledges/form' %>
  </div>
  </div>
<hr/>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


<div class="modal fade" id="new_person_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<!-- link_to 'New Person', '#new_person_modal', 'data-toggle' => 'modal' -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new person</h4>
      </div>
      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
  <%= render '/pledges/form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= render '/comments/form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

